// fonts
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
$titles:'B612',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
$text:'Lato',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
$subtitles:'PT Serif',
serif;
//declaración de colores
$light-blue:#94CEF2;
$dark-blue:#71BBD9;
$yellow:#F2CB57;
$dark-red:#A64833;
$red: #BF4539;
$bg-color:#f5f5f5;
$br-radius:10px;
h1 {
    font-size: larger;
}

.loader-container {
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-color: $bg-color;
    .lds-dual-ring {
        // position: absolute;
        // left: calc(50vw - 128px);
        // top: calc(50vh - 128px);
        // left: auto;
        // top: auto;
        margin: auto;
        z-index: 1;
        display: inline-block;
        width: 120px;
        height: 120px;
    }
    .lds-dual-ring:after {
        content: "";
        display: block;
        width: 64px;
        height: 64px;
        margin: 16px;
        border-radius: 50%;
        border: 12px solid;
        border-color: $light-blue transparent $yellow transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

#main-page {
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    //border: 2px solid red;
    width: 100vw;
    height: auto;
    // background-color: $bg-color;
    .navbar {
        z-index: 3;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $bg-color;
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* Full width */
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
        .navelement {
            color: $dark-blue;
            background-color: $bg-color;
            display: inline-block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            font-family: $titles;
            font-size: x-large;
        }
    }
    #myself {
        // background-color: $dark-blue;
        display: grid;
        grid-template-columns: auto 30vw 50vw auto;
        row-gap: 10px;
        column-gap: 25px;
        grid-template-rows: 5vh 10vh 10vh auto 10vh;
        transition: all 1s ease;
        //border: 2px solid red;
        width: 100%;
        height: auto;
        .name {
            font-family: $titles;
            font-size: xx-large;
            justify-self: center;
            align-self: center;
            grid-column: 2;
            grid-row: 3;
            //border: 2px solid gray;
        }
        .description {
            justify-self: center;
            align-self: initial;
            font-size: larger;
            grid-column: 2;
            grid-row: 4;
            //border: 2px solid rebeccapurple;
            p {
                text-align: justify;
            }
        }
        .cover {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            justify-content: center;
            align-content: center;
            grid-column: 3;
            grid-row-start: 3;
            grid-row-end: 5;
            //border: 2px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                width: 100%;
                height: auto;
                // vertical-align: middle;
            }
        }
    }
    #my-skills {
        display: flex;
        opacity: 1;
        width: 100vw;
        height: auto;
        flex-flow: row wrap;
        padding: 20px;
        justify-content: center;
        background-color: $yellow;
        // grid-template-columns: auto 20vw 20vw 20vw 20vw auto;
        // row-gap: 10px;
        // column-gap: 25px;
        // grid-template-rows: auto 20vh 20vh auto;
        // height: 100vh;
        height: auto;
        transition: all 1s ease;
        .skill {
            width: 180px;
            margin: 10px 30px;
            // border: 2px solid blue;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            transition: all 1s ease;
            border-radius: 5px 5px 5px 5px;
            img {
                // margin: 10px;
                width: 80%;
                height: auto;
                border-radius: 50%;
            }
            .skill-name {
                font-size: xx-large;
                font-family: $subtitles;
            }
            .skill-description {
                font-size: larger;
                text-align: justify;
                // grid-column: 2;
                // grid-row: 3;
                // border: 2px solid blue;
            }
        }
    }
    #my-work {
        //display: grid;
        //opacity: 1;
        //grid-template-columns: auto 90vw auto;
        //row-gap: 10px;
        //column-gap: 25px;
        //grid-template-rows: auto 45vh 45vh auto;
        //height: 100vh;
        background-color: $red;
        width: 100vw;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        transition: all 1s ease;
        padding: 30px;
        .resume-item {
            margin: 75px 0;
            display: flex;
            flex-flow: row wrap;
            // border: 2px solid green;
            height: 50vh;
            justify-content: center;
            width: 100%;
            //height: 50vh;
            //grid-column: 2;
            //grid-row: 2;
            .resume-reference {
                position: relative;
                width: 50%;
                height: 100%;
                .title {
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    background-color: white;
                    font-size: large;
                    max-width: 50%;
                    transition: all 1s ease;
                }
                img {
                    width: 100%;
                    height: 100%;
                    //border-radius: 10% 0 0 10% / 23% 0 0 23%;
                }
                .description {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background-color: white;
                    opacity: 0;
                    font-size: 20px;
                    transition: all 1s ease;
                }
                &:hover {
                    .description {
                        opacity: 1;
                    }
                    .title {
                        opacity: 1;
                    }
                }
            }
            .resume-media {
                width: 50%;
                height: 100%;
                // border: 2px solid blueviolet;
                video {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    #clients {
        background-color: $yellow;
        display: flex;
        opacity: 1;
        width: 100vw;
        height: auto;
        flex-flow: row wrap;
        padding: 20px;
        justify-content: space-around;
        transition: all 1s ease;
        .client {
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 10px 20px;
            transition: all 1s ease;
            border-radius: 5px 5px 5px 5px;
            // border: 2px solid blue;
            //     border: 2px solid black;
            // }
            img {
                width: auto;
                height: 100%;
            }
            .clientname {
                opacity: 0;
                transition: all 0.5s ease;
                text-align: center;
            }
            &:hover {
                .clientname {
                    opacity: 1;
                }
            }
        }
    }
    #contact-me {
        display: none;
        border: 2px solid red;
    }
    .footer-distributed {
        background-color: $light-blue;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        height: fit-content;
        font: bold 16px sans-serif;
        padding: 55px 50px;
        margin-top: 0px;
        .footer-left {
            display: inline-block;
            vertical-align: top;
            width: 40%;
        }
        .footer-center {
            display: inline-block;
            vertical-align: top;
            width: 35%;
            i {
                background-color: $yellow;
                color: $bg-color;
                font-size: 25px;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                text-align: center;
                line-height: 42px;
                margin: 10px 15px;
                vertical-align: middle;
            }
            i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }
            p {
                display: inline-block;
                color: $bg-color;
                vertical-align: middle;
                margin: 0;
                span {
                    display: block;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 2;
                }
                a {
                    color: $bg-color;
                    text-decoration: none;
                }
            }
        }
        .footer-right {
            display: inline-block;
            vertical-align: top;
            width: 20%;
        }
        h3 {
            color: $bg-color;
            font: bold 40px $titles, cursive;
            margin: 0;
            span {
                color: $red;
            }
        }
        .footer-links {
            color: $dark-red;
            margin: 20px 0 12px;
            padding: 0;
            a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: inherit;
                color: $bg-color;
            }
        }
        .footer-company-name {
            color: $bg-color;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }
        .footer-company-about {
            line-height: 20px;
            color: $bg-color;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            span {
                display: block;
                color: $bg-color;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }
        .footer-icons {
            margin-top: 25px;
            a {
                display: inline-block;
                width: 35px;
                height: 35px;
                cursor: pointer;
                background-color: $dark-red;
                border-radius: 2px;
                font-size: 20px;
                color: $bg-color;
                text-align: center;
                line-height: 35px;
                margin-right: 3px;
                margin-bottom: 5px;
            }
        }
    }
}

*::-webkit-scrollbar {
    display: none;
}

* {
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: $titles;
    // overflow-y: hidden;
}