<div class="loader-container">
    <div class="lds-dual-ring"></div>
</div>
<audio class="sfx">
    <source src="../../../../r-assets/audio/sample2.mp3" type="audio/mpeg">
</audio>

<div class="navbar">
    <a class="navelement" href="#myself">Home</a>
    <a class="navelement" href="#my-skills">Skills</a>
    <a class="navelement" href="#my-work">Work</a>
    <a class="navelement" href="#clients">Clients</a>
</div>

<div id="myself">

    <div class="name">
        <h2>Nombre de Autor</h2>
    </div>

    <div class="description">
        <p class="text1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue condimentum lectus, ut vestibulum sem tristique non. Vestibulum eleifend sapien eros, id laoreet risus dignissim sed. Curabitur vestibulum orci eu ex ornare scelerisque. Donec condimentum
            felis in facilisis dapibus. Curabitur tempor est ac mi tristique hendrerit. Duis arcu est, vestibulum at vulputate et, feugiat nec mi. Mauris id gravida dui.
        </p>
    </div>

    <div class="cover">
        <img src="../../../../r-assets/images/cover.jpg" alt="">
    </div>

</div>

<div id="my-skills">
    <div class="skill">

        <img src="../../../../r-assets/images/html5.png" alt="imagen aqui">
        <div class="skill-name">
            <h2>Skill</h2>
        </div>
        <div class="skill-description">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue condimentum lectus.
        </div>
    </div>
    <div class="skill">

        <img src="../../../../r-assets/images/typescript.png" alt="imagen aqui">
        <div class="skill-name">
            <h2>Skill</h2>
        </div>
        <div class="skill-description">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue condimentum lectus.
        </div>
    </div>
    <div class="skill">

        <img src="../../../../r-assets/images/js.png" alt="imagen aqui">
        <div class="skill-name">
            <h2>Skill</h2>
        </div>
        <div class="skill-description">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue condimentum lectus.
        </div>
    </div>


</div>

<div id="my-work">

    <div class="resume-item">
        <div class="resume-reference">
            <div class="title">PizzaPizza.io</div>
            <img src="../../../../r-assets/images/PizzaPizza.png" alt="">
            <div class="description">
                We work across digital products, branding and marketing to help clients figure out how things should work, communicate, look and feel. The way we do this is based on an organisational idea: the two-pizza-rule. Interweaving strategy, design and development
                we combine big strategic thinking with the capability to execute the highest level of craft.
            </div>
        </div>
        <div class="resume-media">
            <video src="../../../../r-assets/video/samplevideo1.mp4"></video>
        </div>
    </div>

    <div class="resume-item">
        <div class="resume-reference">
            <div class="title">illo.ctv</div>
            <img src="../../../../r-assets/images/illo.jpg" alt="">
            <div class="description">
                Founded by Ilenia Notarangelo & Luca Gonnelli in 2012, illo is a world-class design studio operating from beautiful Turin, Italy. We are a very diverse team of 13 people of different nationalities, educational backgrounds and we are, proudly, gender-balanced.
                Pizza, respect and love for design & technology are the things that tie us together.
            </div>
        </div>
        <div class="resume-media">
            <video src="../../../../r-assets/video/samplevideo2.mp4"></video>
        </div>
    </div>






</div>
<div id="clients">


    <div class="client">
        <img src="../../../../r-assets/images/logo1.png" alt="">
        <div class="clientname">CLIENTE1</div>
    </div>
    <div class="client">
        <img src="../../../../r-assets/images/logo2.png" alt="">
        <div class="clientname">CLIENTE2</div>
    </div>
    <!-- <div class="client">

        <img src="../../../../r-assets/images/logo3.png" alt="">
    </div> -->
    <div class="client">
        <img src="../../../../r-assets/images/logo4.png" alt="">
        <div class="clientname">CLIENTE3</div>

    </div>
    <div class="client">
        <img src="../../../../r-assets/images/logo5.png" alt="">
        <div class="clientname">CLIENTE4</div>
    </div>

</div>
<div id="contact-me">Contact</div>
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>NotSoResponsive<span>Page</span></h3>

        <p class="footer-links">
            <a href="#myself">Home</a> ·
            <a href="#my-skills">Skills</a> ·
            <a href="#my-work">Work</a> ·
            <a href="#clients">Clients</a> ·
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">Faq</a> ·
            <a href="https://www.youtube.com/watch?v=L_jWHffIx5E&ab_channel=SmashMouthVEVO">Contact</a>
        </p>

        <p class="footer-company-name">NotSoResponsivePage &copy; 2019</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Por ahí en Cali</span> Colombia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 555 123456</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:srt6221@gmail.com">srt6221@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Sobre la pagina</span> Pagina portfolio/proyecto
        </p>

        <div class="footer-icons">

            <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-twitter"></i></a>
</footer>   <a href=""><i class="fa fa-twitter"></i></a>
